{

  ignoredImports = ( "http://purl.org/biotop/biotoplite_group_A_TEST.owl",
                     "http://purl.org/biotop/biotoplite_group_B_TEST.owl" );
  bioTopLiteSource = "sources/biotoplite.owl";
  groupDirs = {
    groupA = "Results/GruppeA";
    groupB = "Results/GruppeB";
    };
  testDir = "docs/Testaufgaben";
  threadCount = 4;
  similarity = "CSC";

  normalizers = 
  {
	Basic = 
    {
	  importMap = 
	  {
		"http://purl.org/biotop/biotoplite_group_A_TEST.owl" = "http://purl.org/biotop/biotoplite.owl";
		"http://purl.org/biotop/biotoplite_group_B_TEST.owl" = "http://purl.org/biotop/biotoplite.owl"
	  }
    } 

	de.uni_rostock.goodod.owl.normalization.NormalizerChainFactory = 
	{
	  chain = ( BasicImporting, SuperClassConjunction, ClassExpressionNaming, TaxonomicDecomposition, SubsumptionMaterialization )
	}
  }

  measures =
  {
	TripleBasedEntitySim =
	{
	  aggregation = "MaxCoupling"
	}
  }
}
